@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");
/* Golbal Styles */
* {
   padding: 0;
   margin: 0;
   font-family: "Poppins", sans-serif;
}
section {
   padding: 80px 0;
}
.heading-style {
   width: 100%;
   max-width: 45%;
   margin: 0 auto;
   text-align: center;
}
.heading-style h1 {
   font-size: 38px;
   font-weight: 600;
}
.heading-style p {
   color: #838282;
   font-size: 16px;
   font-weight: 400;
}
.btn-style {
   text-decoration: none;
   background-color: #ff5959;
   padding: 10px 20px;
   color: white;
   border-radius: 5px;
}

/* Top-banner  */

.top-banner {
   padding-bottom: 0px;
   width: 100%;
   background-image: linear-gradient(
         to bottom,
         rgba(0, 0, 0, 0.1),
         rgba(0, 0, 0, 1)
      ),
      url(images/donation5.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.top-banner div {
   text-align: center;
   width: 100%;
   margin: 0 auto;
   max-width: 50%;
   padding: 80px 0px;
}
.top-banner div h1 {
   color: white;
   font-size: 40px;
   font-weight: 600;
   padding-bottom: 20px;
}
.top-banner div p {
   align-items: center;
   color: #eeeded;
   padding-bottom: 30px;
   font-size: 15px;
}

/* donate-today */
.donate-today-wrapper {
   width: 50%;
   margin: 0 auto;
}
.donate-today {
   display: flex;
   width: 50%;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   padding: 30px;
}
.donate-today-money {
   font-weight: 500;
   color: rgb(61, 61, 61);
   padding: 25px 18px;
   font-size: 25px;
   border-radius: 5%;
   margin: 10px;
   background: rgb(240, 240, 240);
}
.border-style {
   font-weight: 500;
   margin: 10px;
   color: rgb(61, 61, 61);
   padding: 25px 18px;
   font-size: 25px;
   border: 2px solid rgb(255, 147, 147);
   border-radius: 3%;
   background: rgb(248, 205, 205);
}
.donate-today-btn {
   text-align: center;
   padding: 20px 0;
}
.donate-today-btn h5 {
   margin: 0 auto;
   display: block;
   font-weight: 400;
   font-size: 16px;
   color: rgb(194, 194, 194);
   padding-bottom: 8px;
   margin-bottom: 25px;
   border-bottom: 2px solid rgb(194, 194, 194);
}

/* Donate plan */

.donate-plan-boxs {
   width: 80%;
   margin: 20px auto;
   display: flex;
   align-items: center;
}
.donate-plan-box {
   width: 300px;
   height: 210px;
   border-radius: 5px;
   margin: 15px;
   padding: 50px 20px;
}
.box1 {
   background-color: #d1faff;
}
.box2 {
   background-color: #fddfdf;
}
.box3 {
   background-color: #fdefc7;
}
.donate-plan-box h3 {
   padding: 10px 0;
   font-weight: 600;
   font-size: 22px;
}
.donate-plan-box p {
   color: #616161;
   font-size: 15px;
}

/* gallery */
.gallery {
   padding: 50px 0;
   background-color: #f5f4f4;
}
.gallery h4 {
   text-align: center;
   color: #ff5959;
   font-size: 24px;
   font-weight: 800;
}
.gallery-imgs {
   width: 90%;
   margin: 0 auto;
   padding: 30px 0;
}
.gallery-img {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.gallery-img img {
   padding: 0px;
   width: 390px;
   height: 260px;
   padding: 10px 10px;
   border-radius: 20px;
}

/* Form */

.update-form {
   margin: 50px auto;
   background-color: #fcedc4;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 60px 45px;
   width: 45%;
   border-radius: 5%;
}
.form-info {
   position: relative;
}
.form-info input {
   width: 340px;
   border: none;
   background-color: rgb(209, 208, 208);
   border-radius: 5px;
   padding: 12px 10px;
   outline: none;
}
.form-info .form-info-btn {
   position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   text-decoration: none;
   background-color: #ff5959;
   padding: 8px 10px;
   color: white;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

/* Footer */

footer {
   text-align: center;
   background-color: black;
   padding: 20px 0;
}
footer h4 {
   font-weight: 800;
   color: #ff5959;
}
footer p {
   color: #616161;
   font-size: 13px;
}
